.account-page__inner--right {
  margin: 20px auto;
  text-align: center;
}

.account-page__inner--left {
  text-align: center;
  font-size: 20px;
}

.account-page__inner--left h2 {
  text-decoration: underline blue;
  margin-bottom: 0;
}

.account-page__inner--left h5 {
  margin-top: 10px;
}

.account-page .field .field-input input {
  padding: 10px;
  letter-spacing: 1px;
  display: inline-block;
  width: 300px;
  margin-bottom: 20px;
}

.btn {
  width: 200px;
  height: 40px;
  margin-top: 20px;
  color: white;
  background-color: blue;
}